<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1>Wszyscy Uczniowie</h1>
<a class="link" th:href="@{/student/new}">Nowy uczeń</a>
<div th:class="obiekt-student" th:each="student : ${studenciBazaDanych}">
    <p th:text="${student.name}">imie </p>
    <p th:text="${student.age}">wiek </p>
    <a th:href="@{'/student/school/add/' + ${student.uuid}}">Dodaj do szkoły</a>
</div>
</body>
</html>